---
import Card from './Card.astro';

interface Feature {
  title: string;
  text: string;
}

interface Props {
  features: Feature[];
}

const { features } = Astro.props;
---

<div class="grid">
  {features.map((feature) => <Card title={feature.title} text={feature.text} />)}
</div>
